<head>
    <meta charset="UTF-8">
    <title>Concession Items</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="navbar">
        <ul class="navbar">
            <li class="navbutton"><a href="/">Home</a></li>
            <li class="navbutton"><a href="/members_films/">Members Films</a></li>
            <li class="navbutton"><a href="/films/">Films</a></li>
            <li class="navbutton"><a href="/members_concessions/">Members Concessions</a></li>
            <li class="navbutton"><a href="/concession_items/">Concession Items</a></li>
            <li class="navbutton"><a href="/members/">Members</a></li>
            <li class="navbutton"><a href="/sales_receipts/">Sales Receipts</a></li>
        </ul>
    </div>
    <p>
        This page is for adding and deleting concession items in the Silver Screen Shows Database
    </p>

    {{!-- Create a table --}}
    <table id="ConcessionItems">

        {{!-- Header section --}}
        <thead>
            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                <th>itemID</th>
                <th>itemName</th>
                <th>standardPrice</th>
                <th>memberPrice</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the itemName, standardPrice, and memberPrice in order --}}
            {{#each this.concession_items}}
            <tr id="row">
                <td>{{this.itemID}}</td>
                <td>{{this.itemName}}</td>
                <td>{{this.standardPrice}}</td>
                <td>{{this.memberPrice}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h1>Concession manage/lookup</h1>

    <form id="concessionAdd" action="/concession_items" method="post">
        <p>
        <div>Add Concession Item</div>
        <input id="itemName" type="text" name="itemName" placeholder="Item Name" required>
        <input id="standardPrice" type="number" step="0.01" name="standardPrice" placeholder="Standard Price" required>
        <input id="memberPrice" type="number" step="0.01" name="memberPrice" placeholder="Member Price" required>
        <input id="submit" type="submit" value="submit">
        </p>
    </form>

    <form id="concessionDelete" action="/concession_items_delete" method="post">
        <p>
        <div>Delete Concession Item</div>
        <input id="itemID" type="number" name="itemID" placeholder="Item ID" required>
        <input id="submit" type="submit" value="submit">
        </p>
    </form>

    <form id="concessionUpdate" action="/concession_items_update" method="post">
        <p>
        <div>Update Concession Item</div>
        <input id="itemID" type="number" name="itemID" placeholder="Item ID" required>
        <input id="itemName" type="text" name="itemName" placeholder="Item Name" required>
        <input id="standardPrice" type="number" step="0.01" name="standardPrice" placeholder="Standard Price" required>
        <input id="memberPrice" type="number" step="0.01" name="memberPrice" placeholder="Member Price" required>
        <input id="submit" type="submit" value="submit">
        </p>
    </form>

    <form id="concessionSearch" action="/concession_items_search" method="get">
        <p>
        <div>Search Concession Item By Name</div>
        <input id="itemName" type="text" name="itemName" placeholder="Item Name" required>
        <input id="itemName" type="submit" value="itemName">
        </p>
    </form>

</body>




<!--- Landing page --->