<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Films</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="navbar">
        <ul class="navbar">
            <li class="navbutton"><a href="/">Home</a></li>
            <li class="navbutton"><a href="/members_films/">Members Films</a></li>
            <li class="navbutton"><a href="/films/">Films</a></li>
            <li class="navbutton"><a href="/members_concessions/">Members Concessions</a></li>
            <li class="navbutton"><a href="/concession_items/">Concession Items</a></li>
            <li class="navbutton"><a href="/members/">Members</a></li>
            <li class="navbutton"><a href="/sales_receipts/">Sales Receipts</a></li>
        </ul>
    </div>
    <p>
        This page is for adding, deleting, and searching films in the Silver Screen Shows Database
    </p>
    <p>
    <form id="filmSearch" action="/films_search" method="get">
        <div>Search Film</div>
        <input id="filmTitle" type="text" name="filmTitle" placeholder="Film Title" required>
        <input id="submit" type="submit" value="submit">
    </form>
    <form id="filmSearchReset" action="/films" method="get">
        <input id="submit" type="submit" value="reset page">
    </form>
    </p>

    {{!-- Create a table --}}
    <table id="films">
        <thead>
            <tr>
                <th> filmID </th>
                <th> title </th>    
            </tr>
        </thead>
        <tbody>
            {{#each this.films}}
            <tr id="row">
                <td>{{filmID}}</td>
                <td>{{title}}</td>
            {{/each}}
        </tbody>
    </table>

    <h1>Film manage</h1>

    <form id="filmAdd" action="/films" method="post">
        <p>
        <div>Add Film</div>
        <input id="filmTitle" type="text" name="filmTitle" placeholder="Film Title" required>
        <input id="submit" type="submit" value="submit">
        </p>
    </form>

    <form id="filmDelete" action="/films_delete" method="post">
        <p>
        <div>Delete Film</div>
        <input id="filmID" type="number" name="filmID" placeholder="Film ID" required>
        <input id="submit" type="submit" value="submit">
        </p>
    </form>

    <form id="filmUpdate" action="/films_update" method="post">
        <p>
        <div>Update Film</div>
        <input id="filmID" type="number" name="filmID" placeholder="Film ID" required>
        <input id="newTitle" type="text" name="newTitle" placeholder="New Title" required>
        <input id="submit" type="submit" value="submit">
        </p>

    </form>
</body>

</html>


<!--- Landing page --->