<head>
    <meta charset="UTF-8">
    <title>Silver Screen Shows Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Silver Screen Shows DBMS</h1>
    <div class="navbar">
        <ul class="navbar">
            <li class="navbutton"><a href="/">Home</a></li>
            <li class="navbutton"><a href="/members_films/">Members Films</a></li>
            <li class="navbutton"><a href="/films/">Films</a></li>
            <li class="navbutton"><a href="/members_concessions/">Members Concessions</a></li>
            <li class="navbutton"><a href="/concession_items/">Concession Items</a></li>
            <li class="navbutton"><a href="/members/">Members</a></li>
            <li class="navbutton"><a href="/sales_receipts/">Sales Receipts</a></li>
        </ul>
    </div>
    <div id="img">
        <img id="movieTheater" src="./img/jake-hills-movie-theater.jpg" alt="Picture Movie Theater">
    </div>
    <div id=imageCredit>
        Image courtesy of Jake Hill via Unsplash.com
    </div>
</body>